#login-container {
    align-self: center;
    justify-self: center;
    width: 100%;

    display: flex;
    flex-direction: column;
}

#rectangle1 {
   position: absolute;
    width: 543.76px;
    height: 233.39px;
    left: -182.69px;
    top: -100px; 

    background: #0C9ED5;
    transform: rotate(-34deg);
    
    opacity: 0.5;
}

#rectangle2 {
    position: absolute;
    width: 450px;
    height: 87.46px;
    left: 90px;
    top: -10px;
    
    background: #0C9ED5;
    transform: rotate(-160deg);

    opacity: 0.5;
}